@media only screen and (max-width: 1000px) {
  .navbar .nav-items {
    display: none;
  }

  .navbar .nav-icon {
    display: block;
    width: 40px;
    padding-bottom: 20px;
  }

  .navbar .nav-icon img {
    width: 100%;
  }
  .section-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .section-one .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-one .right {
    padding: 20px;
    margin-top: 20px;
    width: 100%;
  }

  /* section two */
  .section-two .bottom ul {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer{
    width: 100%;
  }
  .footer-top .left{
    width: 35%;
  }
  .footer-top .center-one{
    margin-left: 50px;
  }
  .footer-top .center-two{
    margin-left: 50px;
  }
  .footer-top .right{
    margin-left: 50px;
  }
}
