@media only screen and (max-width: 720px) {
  .section-two .bottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-right: 40px;
  }
  .section-two .bottom ul li {
    width: 100%;
  }
  .footer-top {
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .footer-top .left{
    width: 100%;
    padding-bottom: 30px;
    /* padding-left: 20px; */
    padding-right: 20px;

  }
  .footer-top .center-one{
    width: 100%;
    padding-bottom: 30px;
    padding-right: 50px;

  }
  .footer-top .center-two{
    width: 100%;
    padding-bottom: 30px;
    padding-right: 50px;

  }
  .footer-top .right{
    width: 100%;
    padding-bottom: 30px;
    padding-right: 50px;

  }
}
